.main-site {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100vh;
    width: 100vw;
}

.side-menu {
    width: 20vw;
    height: 100vh;
    
}

.top-bar {
    width: 80vw;
    height: 15vh;
}

.content {
    width: 80vw;
    height: 85vh;
    background: #ffffff;
    background: linear-gradient(to bottom right, #ffffff 30%, #b8fffb 100%);
}
  